@model IEnumerable<Entities.Teacher>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="AssignTeacher" asp-controller="Teachers">
    <label>Select a Teacher</label>
    <br />
    <select name="TeacherId">
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br />
    <label>Select a class number</label>
    <br />
    <select name="ClassId">
        @foreach (var item in ViewBag.Items)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br />
    <input type="submit" value="Assign" class="btn btn-success" />
</form>

