@model Entities.Student
@{
    ViewData["Title"] = "AssignMark";
}

<h1>AssignMark</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignMark">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="Id" value="@ViewBag.Id" hidden/>
            <div class="form-group">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


